* {

	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}

input, textarea {

	padding: 4px;
	outline: none;
	border: 1px solid #aaa;
}

input:focus, textarea:focus {

	transition: 200ms;
	border: 1px solid #777;
	box-shadow: 2px 2px 5px #ccc;
}

button {

	cursor: pointer;
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #fff;
	outline: none;
}

button:active {

	background-color: #eee;
}

.bttn_focus {

	background-color: #288aed;
	border: 1px solid #2a5682;
	color: #fff;
}

.bttn_focus:active {

	background-color: #2a5682;
}

.wrapper {

	text-align: center;
	margin: 10px;
}

.container {

	display: inline-block;
}

